<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiaryApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82D0B53B1BF705F4000169D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D0B54F1BF705F4000169D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D0B55A1BF705F4000169D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
